
.rs-cm3d-gameheader {

  font-family:Montserrat, sans-serif;
  max-width: 250px;
  width: 100%;
  height: 50px;
  top:4px;
  left:50%;
  transform:translateX(-50%);
  position: absolute;
  display: flex;
  align-items:center;
  justify-content:space-around;

  .rs-cm3d-levelbtn {

    background: #885CFF;
    color:#fff;
    font-family:Georgia;
    text-align:center;
    border-radius:6px;
    cursor:pointer;

    span {
      user-select:none;
      -webkit-user-select:none;
      display: inline-block;
      padding:4px;
    }

    .levelbtn-label {
      font-size: 14px;
      padding:8px;
    }

    .icon-undo {
      font-size:14px;
    }
  }

  .rs-cm3d-timebtn {

    color:#fff;
    font-size:20px;
    cursor:pointer;

    span {
      display: inline-block;
      vertical-align:middle;
      padding:6px;
    }

    .icon-timer {
      background:#333;
    }

    .icon-pausetime {
      font-size:12px;
    }

    .icon-playtime {
      font-size:12px;
    }

    .timebtn-value {
      font-size:14px;
      background:$accentColor;
      color:#111;
      border-radius:4px;
    }
  }

  .rs-cm3d-movebtn {

    color:#fff;
    font-size:20px;
    cursor:pointer;

    span {
      display: inline-block;
      vertical-align:middle;
      padding:6px;
    }

    .icon-cross {
      background:#333;
      font-size:16px;
    }

    .icon-ring {
      background:#333;
      font-size:18px;
    }

    .icon-undo {
      font-size:12px;
    }

    .movebtn-value {
      font-size:14px;
      background:$accentColor;
      color:#111;
      border-radius:4px;
    }
  }
}

