
$mainBtnSize:32px;
$mainBtnFontSize:18px;
$mainBtnBgColor:$thirdColor;
$mainBtnBgColorExtra:#00d8c3;

.rs-cm3d-gamebuttonbar {

  position: absolute;
  bottom:15px;
  left:50%;
  transform:translateX(-50%);
  width: 100%;
  max-width:240px;
  display: flex;
  align-items:flex-start;
  justify-content:space-around;
}

.rs-cm3d-mainbutton {

  display: block;
  width: $mainBtnSize;
  height: $mainBtnSize;
  line-height: $mainBtnSize;
  text-align: center;
  border-radius:12px!important;
  font-size:$mainBtnFontSize;
  border:2px solid white;
  background:$mainBtnBgColor;
  color:#1a1a1a;
  transition:all 0.1s ease-out;

  &:hover {
    background:#111!important;
    color:#eee;
  }
}

.rs-cm3d-mainbutton-extra {

  background:$mainBtnBgColorExtra!important;

  &:hover {
    background:#111!important;
    color:#eee;
  }
}

.rs-cm3d-gamewonbar {

  position: absolute;
  bottom:15px;
  left:50%;
  transform:translateX(-50%);
  width: 100%;
  max-width:400px;
  display: flex;
  align-items:center;
  justify-content:center;
  
  img {
    display: block;
    cursor:pointer;
    margin:0 24px;
    transition:0.25s all ease-out;
  }

  img:hover {
    transform:scale(1.15);
  }
}
