html, body{
  width: 100%;
  height: 100%;
}

body {
  font-family:sans-serif;
  width: 100%;
  margin:0;
  padding:0;
}

.wrapper {
  width: 100%;
  height:100%;
}

.rs-container {
  width: 100%;
  height:100%;
}

.extras-content {
  display: none;
}

.helppanel-content {

  width: 100%;
  height: 100%;
  user-select:none;
  font-family: 'Montserrat';
}

.help-section {
  padding:8px;
}

.help-section img {
  display: block;
  margin:0 auto;
}

.help-section h3 {
  font-size:24px;
  margin:8px;
}

.helppanel-content .help-section {
  text-align: center
}
