#rotate-message {
    display: none;
}

@media screen and (orientation: portrait) {

    #rotate-message {
        position: fixed;
        inset: 0;
        background: #000;
        color: white;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        font-family: Arial, sans-serif;
        font-size: 32px;
        font-weight: bold;
        z-index: 999999;
    }

    canvas {
        display: none !important;
    }

    body {
        overflow: hidden;
    }
}