
$accentColor:#FFD700;
$thirdColor:#12B280;
$secondColor:#885CFF;

@import "cm3d/site";
@import "game/panel";
@import "cm3d/trophypanel";
@import "cm3d/helppanel";
@import "cm3d/creditpanel";
@import "cm3d/gamefont";
@import "cm3d/gameicon";
@import "cm3d/game";
@import "cm3d/responsive";
@import "cm3d/hscreenheader";
@import "cm3d/hscreenmenu";
@import "cm3d/heartbar.scss";
@import "cm3d/gamebutton";
@import "cm3d/gameheader";
